

body {
    background-color: #EFEFEF;
}

h1 {
    font-size: 30px;
}

h3 {
    color: #205375;
    font-size: 25px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    height: 10px;
    border-width: 6px;
    color: #205375;

}

a:link {
    color: #205375;
}

a:visited {
    color: #205375;
}

a:hover {
    color: #F66B0E;
}

li, p {
    font-size: 20px;
}